@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=PT+Sans&display=swap');
/* FUENTES:
Belanosima
PT Sans
*/

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'PT Sans'
    }
    
    html {
    scroll-behavior:smooth
    }
    
    .contenedor-header {
    background-color:#01213e;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:99
    }
    
    .contenedor-header header {
    max-width:1100px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 20px
    }
    
    .contenedor-header header .logo-header a {
    font-family:'Belanosima';
    font-size:30px;
    color:#da8600;
    text-decoration:none
    }
    
    .contenedor-header header ul {
    display:flex;
    list-style:none
    }
    
    .contenedor-header header ul li a {
    text-align:none;
    color:#dcdcdc;
    margin:0 15px;
    padding:3px;
    transition:.5s;
    text-decoration:none
    }
    
    .contenedor-header header ul li a:hover {
    color:#da8600
    }
    
    .nav-responsive {
    background-color:#01213e;
    color:#dcdcdc;
    padding:5px 10px;
    border-radius:5px;
    cursor:pointer;
    display:none
    }
    
    .inicio {
    background:linear-gradient(to top,rgba(26,28,31,.8),rgba(1,33,62,.8)),url(img/fondo.jpg);
    background-size:cover;
    height:100vh;
    color:#fff;
    display:flex;
    align-items:center
    }
    
    .inicio .contenedor-banner {
    padding:20px;
    background-color:#141936;
    max-width:350px;
    margin:auto;
    text-align:center;
    border-radius:40px
    }
    
    .inicio .contenedor-banner img {
    border:10px solid #565656;
    display:block;
    width:80%;
    margin:auto;
    border-radius:100%
    }
    
    .inicio .contenedor-banner h1 {
    margin-top:40px;
    font-size:35px;
    font-family:'Belanosima'
    }
    
    .inicio .contenedor-banner h2 {
    font-size:15px;
    font-weight:400
    }
    
    .inicio .contenedor-banner .redes a {
    color:#fff;
    display:inline-block;
    text-decoration:none;
    border:1px solid #fff;
    border-radius:100%;
    width:42px;
    height:42px;
    line-height:42px;
    margin:40px;
    font-size:20px;
    transition:.3s
    }
    
    .inicio .contenedor-banner .redes a:hover {
    background-color:#da8600
    }
    
    .sobremi {
    background-color:#1a1c1f;
    color:#fff;
    padding:50px 20px
    }
    
    .sobremi .contenido-seccion {
    max-width:1100px;
    margin:auto
    }
    
    .sobremi h2 {
    font-size:42px;
    font-family:'Belanosima';
    text-align:center;
    padding:20px 0
    }
    
    .sobremi p span {
    color:#dcdcdc;
    font-weight:700
    }
    
    .sobremi.contenido-seccion p {
    font:18px;
    line-height:22px;
    margin-bottom:20px
    }
    
    .sobremi .contenido-seccion p span {
    color:#da8600
    }
    
    .sobremi .fila {
    display:flex
    }
    
    .sobremi .fila .col {
    width:50%
    }
    
    .sobremi .fila .col h3 {
    font-size:28px;
    font-family:'Belanosima';
    margin:25px 0
    }
    
    .sobremi .fila .col ul {
    list-style:none
    }
    
    .sobremi .fila .col ul li {
    margin:12px 0
    }
    
    .sobremi .fila .col ul li strong {
    display:inline-block;
    color:#da8600;
    width:130px
    }
    
    .sobremi .fila .col .contenedor-interes {
    display:flex;
    flex-wrap:wrap
    }
    
    .sobremi .fila .col .contenedor-interes .interes {
    width:100px;
    height:100px;
    background-color:#01213e;
    border-radius:10px;
    margin:0 15px 15px 0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    transition:.3s
    }
    
    .sobremi .fila .col .contenedor-interes .interes:hover {
    background-color:#da8600
    }
    
    .sobremi .fila .col .contenedor-interes .interes a {
    font-size:30px;
    margin-bottom:10px
    }
    
    .sobremi .fila .col .contenedor-interes .interes i {
    font-size:30px;
    margin-bottom:10px
    }
    
    .sobremi button {
    cursor:pointer;
    background-color:#01213e;
    border:2px solid #fff;
    width:fit-content;
    display:block;
    margin:20px auto;
    padding:10px 22px;
    font-size:16px;
    color:#fff;
    position:relative;
    z-index:10
    }
    
    .sobremi button .overlay {
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    background-color:#da8600;
    z-index:-1;
    transition:1s
    }
    
    .sobremi button:hover .overlay {
    width:100%
    }
    
    .skills {
    background-color:#242528;
    color:#fff;
    padding:50px 20px
    }
    
    .skills .contenido-seccion {
    max-width:1100px;
    margin:auto
    }
    
    .skills h2 {
    font-size:42px;
    font-family:'Belanosima';
    text-align:center;
    padding:20px 0
    }
    
    .skills .fila {
    display:flex
    }
    
    .skills .fila .col {
    width:50%;
    padding:0 20px
    }
    
    .skills .fila .col h3 {
    font-size:28px;
    font-family:'Belanosima';
    margin-bottom:25px
    }
    
    .skills .skill > span {
    font-weight:700;
    display:block;
    margin-bottom:10px
    }
    
    .skills .skill .barra-skill {
    height:8px;
    width:80%;
    background-color:#131517;
    position:relative;
    margin-bottom:30px
    }
    
    .skills .skill .progreso {
    background-color:#da8600;
    position:absolute;
    top:0;
    left:0;
    height:8px
    }
    
    .skills .skill .barra-skill span {
    position:absolute;
    height:40px;
    width:40px;
    background-color:#da8600;
    border-radius:50px;
    line-height:40px;
    text-align:center;
    top:-17px;
    right:-15px;
    font-size:14px
    }
    
    .skills .skill .javascript {
    width:0;
    animation:2s javascript forwards
    }
    
    @keyframes javascript {
    0% {
    width:0
    }
    
    100% {
    width:40%
    }
    }
    
    .skills .skill .htmlcss {
    width:0;
    animation:2s htmlcss forwards
    }
    
    @keyframes htmlcss {
    0% {
    width:0
    }
    
    100% {
    width:80%
    }
    }
    
    .skills .skill .editor {
    width:0;
    animation:2s editor forwards
    }
    
    @keyframes editor {
    0% {
    width:0
    }
    
    100% {
    width:50%
    }
    }
    
    .skills .skill .comunicacion {
    width:0;
    animation:2s comunicacion forwards
    }
    
    @keyframes comunicacion {
    0% {
    width:0
    }
    
    100% {
    width:80%
    }
    }
    
    .skills .skill .trabajoenequipo {
    width:0;
    animation:2s trabajoenequipo forwards
    }
    
    @keyframes trabajoenequipo {
    0% {
    width:0
    }
    
    100% {
    width:70%
    }
    }
    
    .skills .skill .creatividad {
    width:0;
    animation:2s creatividad forwards
    }
    
    @keyframes creatividad {
    0% {
    width:0
    }
    
    100% {
    width:90%
    }
    }
    
    .skills .skill .dedicacion {
    width:0;
    animation:2s dedicacion forwards
    }
    
    @keyframes dedicacion {
    0% {
    width:0
    }
    
    100% {
    width:70%
    }
    }
    
    .skills .skill .proyectmanagement {
    width:0;
    animation:2s proyectmanagement forwards
    }
    
    @keyframes proyectmanagement {
    0% {
    width:0
    }
    
    100% {
    width:40%
    }
    }
    
    .curriculum {
    background-color:#1a1c1f;
    color:#fff;
    padding:50px 20px
    }
    
    .curriculum .contenido-seccion {
    max-width:1100px;
    margin:auto
    }
    
    .curriculum h2 {
    font-size:42px;
    font-family:'Belanosima';
    text-align:center;
    padding:20px 0
    }
    
    .curriculum .fila {
    display:flex;
    justify-content:space-between
    }
    
    .curriculum .fila .col {
    width:49%;
    padding:0 20px
    }
    
    .curriculum .fila .col h3 {
    font-size:28px;
    font-family:'Belanosima';
    margin-bottom:25px
    }
    
    .curriculum .fila .izquierda {
    border-right:2px solid #252A2E
    }
    
    .curriculum .fila .derecha {
    border-left:2px solid #252A2E
    }
    
    .curriculum .fila .item {
    padding:25px;
    margin-bottom:30px;
    background-color:#252A2E;
    position:relative
    }
    
    .curriculum .fila .item h4 {
    font-size:20px;
    margin-bottom:10px
    }
    
    .curriculum .fila .item .casa {
    color:#da8600;
    font-size:22px;
    font-weight:700;
    display:block
    }
    
    .curriculum .fila .item .fecha {
    display:block;
    color:#da8600;
    margin-bottom:10px
    }
    
    .curriculum .fila .item p {
    line-height:24px
    }
    
    .curriculum .fila .izq {
    border-right:2px solid #da8600;
    margin-right:20px
    }
    
    .curriculum .fila .der {
    border-left:2px solid #da8600;
    margin-left:20px
    }
    
    .curriculum .fila .item .conectori {
    height:2px;
    background-color:#da8600;
    width:47px;
    position:absolute;
    top:50%;
    right:-47px;
    z-index:5
    }
    
    .curriculum .fila .item .conectori .circuloi {
    display:block;
    height:10px;
    width:10px;
    border-radius:50%;
    background-color:#da8600;
    float:right;
    position:relative;
    bottom:4px
    }
    
    .curriculum .fila .item .conectord {
    height:2px;
    background-color:#da8600;
    width:47px;
    position:absolute;
    top:50%;
    left:-47px;
    z-index:5
    }
    
    .curriculum .fila .item .conectord .circulod {
    display:block;
    height:10px;
    width:10px;
    border-radius:50%;
    background-color:#da8600;
    float:left;
    position:relative;
    bottom:4px
    }
    
    @media screen and (max-width: 980px) {
    nav {
    display:none
    }
    
    .nav-responsive {
    display:block
    }
    
    nav.responsive {
    display:block;
    position:absolute;
    right:0;
    top:54px;
    background:#141936;
    width:180px
    }
    
    nav.responsive ul {
    display:block!important
    }
    
    nav.responsive ul li {
    border-bottom:1px solid #fff;
    padding:10px 0
    }
    }
    
    @media screen and (max-width: 768px) {
    .sobremi .fila {
    display:block
    }
    
    .sobremi .fila .col {
    width:fit-content
    }
    
    .skills .fila {
    display:block
    }
    
    .skills .fila .col {
    width:100%
    }
    
    .skills .fila .col .barra-skill {
    width:100%
    }
    
    .curriculum .fila {
    display:block
    }
    
    .curriculum .fila .col {
    width:90%
    }
    
    .curriculum .fila .derecha {
    margin-left:20px
    }
    }